@tailwind base;
@tailwind components;
@tailwind utilities;

.list__item {
    @apply font-bold cursor-pointer hover:bg-gray-100 p-4 rounded-md;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(1,186,243);
    border-radius: 10px;
  }